@font-face {
  font-family: 'Quirlycues';
  font-style: normal;
  font-weight: 300;
  src: url('/files/qurly.woff') format('woff');
}

html {
  background: #eee url("/files/leather.png") repeat top center;
  overflow-x: hidden;
}

body, dl, dt, dd, ul, ol, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

body {
  font: normal 20px/normal "Antic", Helvetica, sans-serif;
  text-rendering: optimizelegibility;
}

body {
  border-radius: 10px;
  margin: 10 auto 20px;
  position: relative;
  width: 1280px;
  height: 800px;
  background: #eee url("/files/linen.png") repeat top center;
  box-shadow: 0px 22px 54px rgba(0, 0, 0, 0.5);
}

input {
  font: normal 20px/normal "Antic", Helvetica, sans-serif;
}

.welcome-image {
  top: 50px;
  position: absolute;
  right: 100px;
}

h1 strong .video-title {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: bold;
}

header {
  background: #990033;
  color: white;
  height: 37px;
  padding: 20px 20;
  border-radius: 5px;
}


footer p{
  position: absolute;
  top: 820px;
  padding-bottom: 50px;
  left: 20px;
  color: #666;
}

footer p:hover{
   color: #444;
 }

footer r{
   position: absolute;
   top: 820px;
   right: 20px;
   padding-bottom: 50px;
   color: #666;
}

footer a{
  color: #666;
  font-family: 'Quirlycues';
  text-decoration:none;
}
footer a:hover{
  color: #000;
}

h1 {
  float: left;
  line-height: 40px;
  text-align: center;
  width: 160px;
}

::-webkit-input-placeholder {
  color: #fffffa;
}

:-moz-placeholder {
  color: #df1f1f;
}

::-moz-placeholder {
  color: #df1f1f;
}

:-ms-input-placeholder {
  color: #df1f1f;
}

#results {
  border-radius: 10px;
  background: #f2f5fd;
  background: #f5f5f5;
  height:723px;
  overflow-x: hidden;
  width: 640px;
}

.video {
  cursor: pointer;
  min-height: 90px;
  padding: 10px;
  padding-left: 140px;
  position: relative;
}

.video:nth-child(2n-1) {
  background: white;
}

.video-image {
  float: left;
  left: 10px;
  position: absolute;
  top: 10px;
}

.video-title {
  padding-top: 5px;
}

.video-author {
  color: #468499;
  font-size: 14px;
  padding: 5px 0;
}

.video-description {
  color: #727785;
  font-size: 12px;
  line-height: 1.5;
}

.video:hover {
  background: #22242a;
  color: white;
}

.input-box {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 800px;
  height: 40px;
  cursor: I-beam;
  left: 300;
  padding: 10 20px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 21px;
  border-radius: 21px;
  font: normal 20px/normal "Antic", Helvetica, sans-serif;
  color: rgba(140,140,140,1);
  text-decoration: normal;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(40,40,40,0.4);
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
  -webkit-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.input-box:hover {
  width: 500px;
  opacity: 0.82;
  color: rgba(181,181,181,1);
  background: rgba(0,0,0,0.4);
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.input-box:focus {
  width: 400px;
  cursor: default;
  padding: -13px 20px 0;
  color: rgba(255,255,255,1);
  -webkit-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.text {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 26px/1 Arial, Helvetica, sans-serif;
  color: white;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: none;
}

ft {
  color: white;
  font: normal 20px;
  font-family: 'Quirlycues';
  font-size: 25px;
  text-decoration:none;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  padding: 4px 0;
  margin: 0 0 10px 25px;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}

.ui-helper-hidden-accessible {
  visibility: hidden;
  position: fixed;
}

.ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
  text-decoration: none;
  font: normal 26px/1 Arial, Helvetica, sans-serif;
}

.ui-state-hover, .ui-state-active {
  color: #000;
  text-decoration: none;
  font: normal 26px/1 Arial, Helvetica, sans-serif;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}



h2 {
  font-family: normal 20px/normal "Antic";
  font-weight: 100;
  top: 150px;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 35px;
  color: #666;
  animation: fadeUpIn 4s;
  -webkit-animation: fadeUpIn 4s;

}

h3 {
  font-family: normal 30px/normal "Antic";
  top: 180px;
  position: absolute;
  right: 45px;
  font-weight: 100;
  font-size: 35px;
  text-align: center;
  color: #666;
}

li button {
  position: absolute;
  right: 0px;
  color: #7f0000;
  background: none;
  border-style: none;
  font-size: 23px;
}

li button:hover {
  background: #7f0000;
  color: white;
}

.DownloadButton {
  position: absolute;
  right: 70px;
  color: #7f0000;
  background: none;
  border-style: none;
  font-size: 22px;
}

.DownloadButton:hover {
  background: #7f0000;
  color: white;
}

#fore {
  font-family: normal 20px/normal "Antic";
  font-weight: 100;
  position: absolute;
  color: white;
  -webkit-animation: fadein 2s;
 /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
 /* Firefox < 16 */
  -ms-animation: fadein 2s;
 /* Internet Explorer */
  -o-animation: fadein 2s;
 /* Opera < 12.1 */
  animation: fadein 2s;
}

@-webkit-keyframes fadeUpIn /* Safari and Chrome */ {
  from {
    opacity: 0;
    top: 400px;
  }

  to {
    opacity: 1;
    top: 150px;
  }
}

@-webkit-keyframes fader /* Safari and Chrome */ {
  from {
    opacity: 0;
    top: 150px;
  }

  to {
    opacity: 1;
    top: 500px;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes blink {
     to {
       visibility: hidden;
     }
   }
   @-webkit-keyframes blink {
     to {
       visibility: hidden;
     }
   }

#playlist {
  height: 325px;
  position: absolute;
  right: 0px;
  top: 475px;
  width: 640px;
  overflow-x: hidden;
}

#player {
  height: 400px;
  position: absolute;
  right: 0px;
  top: 77px;
  width: 640px;
}

li {
  list-style: none;
  background: transparent;
  color: #000;
  height: auto;
  line-height: 2rem;
  margin: 0;
  padding: 0 0.5rem;
  width: auto;
}

li:hover {
  background: #6C102F;
  cursor: pointer;
  color: white;
}

li.show {
  height: 2rem;
  margin: 0px 0;
}

.fade li {
  opacity: 0;
  height: 2rem;
  transition: all .5s ease-out;
}

.fade li.show {
  opacity: 1;
}

.slide-fade li {
  transition: all .5s ease-out;
  opacity: 0;
  height: 0;
}

.slide-fade li.show {
  opacity: 1;
  height: 2rem;
}

.swing {
  perspective: 100px;
}

.swing li {
  opacity: 0;
  transform: rotateY(-90deg);
  transition: all 0.5s cubic-bezier(0.36, -0.64, 0.34, 1.76);
}

.swing li.show {
  opacity: 1;
  transform: none;
  transition: all 0.5s cubic-bezier(0.36, -0.64, 0.34, 1.76);
}

#switch,
#circle {

  touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 25px;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.54, 1.6, 0.5, 1);
          transition: transform 0.4s cubic-bezier(0.54, 1.6, 0.5, 1);
}



#switch {
  border-radius: 13px;
  background: #fff;
  position: absolute;
  top: 18px;
  right: 50px;
  width: 50px;
}

.switch-label {
  position: absolute;
  top: 40px;
  right: 30px;
  font: normal 17px/normal "Antic", Helvetica, sans-serif;
  width: auto;
}

#circle {
  width: 50%;
  border-radius: 12px;
  box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
  background: #fff;
}
/*------------Effect-------------*/
#switch.active {
  border-color: inherit;
  background: #E4001B;
}
#switch.active #circle {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.copy {
  margin: 1.4rem auto 0 auto;
  witdh: auto;
  width: 120px;
  color: rgba(0,0,0,0.6);
}
#switch.active:after {
  font-weight: bold;
  font-style: italic;
  text-align: center;
  display: inline-block;
  position: absolute;
  left: 42px;
  font-size: 1.05rem;
  bottom: -22px;
  color: #666;
}
